@font-face {
    font-family: 'amatic SC';
    src: url(https://fonts.gstatic.com/s/amaticsc/v13/TUZyzwprpvBS1izr_vOECuSf.woff2) format('woff2');
}

.login-top {
    position: fixed;
    z-index: 3000;
    width: 100%;
    top: 0;
    height: 25px;
    background-color: #a99ea9;
}

.logList li {
    list-style-type: none;
    display: inline-block;
}

.login-top a,
.login-top p {
    font-family: "amatic sc", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #065e60;
    margin-left: 10px;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

.pageLink:hover {
    color: #0dd0d3;
}

.icon-cart {
    margin-bottom: -2px;
    margin-right: -6px;
}

#sign-up:hover {
    color: #0dd0d3;
}

.log-item:hover {
    color: #0dd0d3;
}

#listing {
    display: inline;
}


/*login*/

#login-container1 {
    display: none;
    margin-top: 25px;
    font-family: "amatic sc";
    font-weight: bold;
    font-size: 25px;
    background-color: #ABE2DA;
    width: 70%;
    margin-left: 40px;
    padding-left: 20px;
    z-index: 10000;
    position: fixed;
}

#login-container2 {
    display: none;
    margin-top: 25px;
    font-family: "amatic sc";
    font-weight: bold;
    font-size: 25px;
    background-color: #ABE2DA;
    width: 70%;
    margin-left: 10%;
    padding-left: 20px;
    z-index: 10000;
    position: fixed;
}

.header {
    top: 0;
    width: 100%;
    text-align: center;
    position: fixed;
    background-color: #bcb3bc;
    height: 70px;
    margin-top: 20px;
    z-index: 2000;
}

.header li {
    font-family: "amatic sc", arial;
    font-size: 40px;
    display: inline-block;
    font-weight: 900;
    margin-top: 12px;
}

.header a {
    display: block;
    color: #065e60;
    padding: 10px 5px;
}

input {
    font-family: "amatic sc", sans-serif;
    background-color: #f9f5f1;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit {
    color: black;
    display: inline-block;
    padding: 6px 12px;
    margin-top: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
    background: #f9f5f1;
    color: black;
    border: 1px solid transparent;
    border-radius: 4px;
}

.shop-container {
    text-align: center;
}

.shop-container h1 {
    font-family: "amatic sc", arial;
    font-weight: 900;
    font-size: 80px;
    margin-top: 120px;
    text-align: center;
    color: violet;
}

.grid-container {
    display: grid;
    width: 90%;
    grid-template-columns: 49% 49%;
    background-color: #f9f5f1;
    padding: 20px;
    grid-gap: 2%;
    align-content: center;
    margin-left: 5%;
    padding-bottom: 50px;
}

.grid-item {
    background-color: #efe7e6;
    border: 1px solid #c9ada7;
    font-size: 30px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 25% 75%;
}

.info-cont {
    display: grid;
    grid-template-columns: 59% 39%;
    margin-top: 20px;
    margin-left: 2%;
    font-family: "amatic sc";
    font-size: 25px;
    font-weight: 700;
}

.item-pic img {
    border: 2px double #c9ada7;
    margin: 30px 0px 0px 0px;
}

.item-pic>img {
    object-fit: cover;
    width: 100%;
}

.add-to-cart {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background: #c9ada7;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}

.add-to-cart:hover {
    color: #c9ada7;
    background-color: #fff;
}

.shop-container {
    text-align: center;
}

#social {
    list-style-type: none;
    display: block;
    margin: 20px auto 0px;
    position: relative;
    width: 300px;
    height: 50px;
    z-index: 99;
}

#social li {
    display: inline-block;
    margin-top: 10px;
}

.so-img {
    opacity: 0.5;
    margin-left: 5px;
    margin-right: 5px;
}

.right {
    font-family: "amatic sc", arial;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px;
}

@media screen and (max-width: 800px) {
    .login-top {
        height: 4vh;
    }
    .login-top a,
    .login-top p {
        font-size: 3vw;
    }
    input {
        width: 30vw;
        height: 4vh;
        font-size: 3vw;
    }
    .header {
        height: 9vh;
    }
    .header li {
        font-size: 4vw;
    }
    .feather1 {
        height: 17vw;
        width: 51vw;
    }
    .shop-container h1 {
        font-size: 8vw;
    }
    .grid-item {
        display: block;
    }
    .info-cont {
        width: 100%;
    }
    .grid-item p {
        font-size: 3vw;
    }
    .add-to-cart {
        font-size: 2vw;
        padding: 1vw 2vw;
    }
}